# Node
node_modules/
.env
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Misc
*.local
*.lock-wscript

# Generated config/tokens
backend/token.json
backend/playlist_config.json
